@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We're an insurance company. You pay us premiums, and we provide you with insurance.  If you have a legitimate claim, we'll pay it.  We promise!</p>
