@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INSURANCE INC.</h1>
    <p class="lead">Welcome to our website. You can get a quote here.</p>
</div>

<div class="row">
    <div class="col">
        <h2>Getting started</h2>
        <p>
            You need insurance. We provide it. It's kismet.
        </p>
    </div>
</div>